@model IEnumerable<SAT.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin") && Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (User.IsInRole("Admin") && Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>|</span>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
