@model IEnumerable<SAT.DATA.EF.Cours>

@{
    ViewBag.Title = "Index";
}
<div class="padder"></div>
<div class="container clearfix">
<h2 class="centerme">Courses</h2>
<div></div>
<div class="row centerme">
    @if (User.IsInRole("Admin") && Request.IsAuthenticated)
    {

        <div class="col-md-6">
            @Html.ActionLink("Create New", "Create", "Cours", null, new { @class = "btn btn-secondary" })
        </div>

    }

    <div class="col-md-6">
        @Html.ActionLink("Table View", "Index", "Cours", null, new { @class = "btn btn-secondary" })
    </div>
</div>


@foreach (var item in Model)
{
    <div class="gContainer">
        <div class="gContent">
            <h2 id="courseName">@Html.DisplayFor(modelItem => item.CourseName)</h2>
            <p>@Html.ActionLink("Details", "Details", new { id = item.CourseId })</p>

            @if (User.IsInRole("Admin"))
            {
                <p class="gFooterLeft">
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseId })
                </p>
                <p class="gFooterRight">
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                </p>
            }
        </div>
    </div>
}
</div>



