@model IEnumerable<SAT.DATA.EF.Cours>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin") && Request.IsAuthenticated)
{
<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("View as Table", "GenreTable", "Genres", null, new { @class = "btn btn-secondary" })
    </p>
}
<table class="table" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curriculum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curriculum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.CourseId })
                    @if (User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }) <span>|</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseId })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@*<section class="section courses" data-section="section4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="~/Content/assets/images/courses-01.jpg" alt="Course #1">
                        <div class="down-content">
                            <h4>Digital Marketing</h4>
                            <p>You can get free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p>
                            <div class="author-image">
                                <img src="~/Content/assets/images/author-01.png" alt="Author 1">
                            </div>
                            <div class="text-button-pay">
                                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@